.calendar_wrapper {
	max-height: 100%;
}

.date_picker {
	width: 100% !important;
}

.user_schedule_title {
	margin-top: 0 !important;
}

.calendar_div {
	padding-bottom: 50px !important;
}

.calendar_event {
	margin: 0;
	padding: 0;
	list-style: none;
}

.calendar_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0 !important;
	background-color: var(--gray-background-login) !important;
}

.calendar_header h1 {
	margin: 0;
	flex: 1;
}

@media (min-width: 750px) {
	.calendar_select {
		flex: 0 0 15%;
	}
}

@media (max-width: 750px) {
	.calendar_select {
		flex: 0 0 45%;
	}
}

.calendar_root {
	width: 100%;
}
